@import url("https://fonts.googleapis.com/css?family=Merriweather:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
}

body {
    margin: 0;
    background: #E1D5B8;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: 100;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #738054;
    pointer-events: none;
    margin-right: 240px;
}

.navigation a{
    text-decoration: none;
    color: #738054;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover, 
.navigation a.active{
    background: #738054;
    color: #E1D5B8;
}

.parallax {
    position: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88.5vh;
}

#text {
    position: relative;
    bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 5em;
    color: #2A3439;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    word-wrap: break-word;
    text-align: center;
}

.parallax img{
    position: absolute;
    pointer-events: none;
}
.parallax .table{
    top: 425px;
    width: 110%;
    height: 20%;
}

.parallax .plant1 {
    left: 0;
    top: 80px;
    width: 22.5%;
    height: 65%;
}

.parallax .plant2 {
    left: 1050px;
    bottom: 225px;
    width: 30%;
    height: 70%;
}

.parallax .plant3 {
    left: 925px;
    top: 240px;
    width: 15%;
    height: 37.5%;
}

.parallax .plant4 {
    left: 1050px;
    top: 280px;
    width: 15%;
    height: 35%;
}

.parallax .plant5 {
    left: 80px;
    top: 410px;
    width: 4.5%;
    height: 15%;
}

.sec .content {
    margin-top: 530px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 30px;
    height: 400px;
    width: 690px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom right, #ACB17C, #D1D4B6);
}

.sec .content h2 {
    font-size: 3em;
    color: #2A3439;
    margin-bottom: 10px;
}
  
.sec .content p {
    font-size: 1em;
    color: #2A3439;
    font-size: 300;
}

.sec .slideshow {
    top: 530px;
    margin-left: 690px;
    padding-left: 0;
    height: 400px;
    position: absolute;
    background-image: linear-gradient(#BFC299, #D1D4B6);
}

.sec .slideshow img{
    left: 80px;
    top: 410px;
    width: 100%;
    height: 100%;
}

.sec.slideshow.hills {
    display: none;
}
.left, .right, .badge {
    cursor: pointer;
}

.badge {
    height: 13px;
    width: 13px;
    padding: 0;
}

.gap .gap1 {
    margin-top: 925px;
    height: 20px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #Be996e;
    overflow-x: hidden;
}

.timeline{
    background-image: linear-gradient(to top right, #ACB17C, #D1D4B6);
    padding: 45px;
} 

.timeline h2{
    position: relative;
    max-width: 800px;
    margin-top: 400px;
    margin-left: 470px;
    color: #2A3439;
    padding: 20px;
    font-size: 40px;
}

.timeline .container1 {
    position: relative;
    max-width: 800px;
    margin-top: 400px;
}

.timeline .container {
    position: relative;
    max-width: 600px;
}

.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.rightc img{
    left: -20px;
}

.container1{
    padding: 10px 50px;
    position: relative;
    width: 50%; 
}

.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
}

.textb{
    padding: 20px 30px;
    background: #E1D5B8;
    position: relative;
    border-radius: 6px;
    font-size: 13px;
    color: #2A3439;
}

.leftc h4{
    text-align: left;
    font-size: 8px;
}

.leftc p{
    text-align: right;
    font-size: 10px;
}

.leftc{
    left: 0%;
    text-align: right;
}

.rightc h4{
    text-align: right;
    font-size: 8px;
}

.rightc{
    left: 50%;
    text-align: left;
}

.rightc p{
    text-align: left;
    font-size: 10px;
}

.timeline::after{
    margin-top: 1070px;
    content: '';
    position: absolute;
    width: 6px;
    height: 75%;
    background: #E1D5B8;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 2;
}

.textb h3{
    font-weight: 600;
}

.textb h3{
    display: inline-block;
    margin-bottom: 15px;
}

.lefta{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #E1D5B8;
    right: -15px;  
}

.righta{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #E1D5B8;
    left: -15px;  
}

.skills{
    background-color: #738054;
    padding: 45px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.skills h2{
    text-align: center;
    font-size: 40px;
    color: #BFC299;
    padding-bottom: 50px;
}

.skills img{
    width: 120px;
    border-radius: 50%;
}

.caption{
    display: block;
    padding-bottom: 10px;
}
